<section class = "login-form" fxLayoutAlign="center center">

    <mat-card class="login-card">
    <mat-card-title fxLayoutAlign="center">Log In</mat-card-title>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap = "20px" (ngSubmit)="onSubmit()" [formGroup]="loginForm">

        <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input type="name" matInput placeholder="Your name" name = "name" formControlName= "name" required>
            <mat-hint>Please enter a valid name</mat-hint>
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input type="email" matInput placeholder="Your email" name = "email" formControlName= "email" required>
            <mat-hint>Please enter a valid email</mat-hint>
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">Field must not be empty</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('email')">Email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" name = "password" formControlName= "password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Please enter your password</mat-hint>
            <mat-error>Missing password</mat-error>
        </mat-form-field>

        <button type= "submit" mat-stroked-button color="accent" [disabled] = "loginForm.invalid" *ngIf="!(isLoading$ | async)">Submit</button>

        <mat-spinner color="accent" *ngIf="isLoading$ | async"></mat-spinner>

    </form>
</mat-card>
</section>



