
<section class = "signup-form" fxLayoutAlign="center center">

    <mat-card class="signup-card">
    <mat-card-title fxLayoutAlign="center">Sign Up</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">and Start Your Routine</mat-card-subtitle>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap = "20px" #form="ngForm" (ngSubmit)="onSubmit(form)">

        <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput ngModel name = "name" #nameInput= "ngModel" required>
            <mat-error *ngIf="nameInput.hasError('required')">You must enter your name</mat-error>
          </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input type="email" matInput placeholder="Your email" ngModel name = "email" #emailInput= "ngModel" email required>
            <mat-error *ngIf="emailInput.invalid">{{getEmailVerification(emailInput)}}</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="* Password must be at least 6 characters" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" #input minlength="6" placeholder="Your password" ngModel name = "password" #passwordInput= "ngModel" password required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
            <mat-error *ngIf="passwordInput.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>
            
        <mat-form-field appearance="outline">
            <mat-label>Choose your Birthdate</mat-label>
            <input matInput [max]="maxDate" placeholder="Your Birthdate" [matDatepicker] = "picker" ngModel name = "birthdate" required>
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
     
              <mat-checkbox ngModel name = "agreed" required>
                  Agree to Terms & Conditions. 
              </mat-checkbox>

        <button type= "submit" mat-stroked-button color="accent" [disabled] = "form.invalid" *ngIf="!(isLoading$ | async)">Submit</button>
        <mat-spinner color = "accent" *ngIf="isLoading$ | async"></mat-spinner>
        
    </form>
</mat-card>
</section>


